@font-face
{
    font-family: 'Poppins';
    src: url("fonts/Poppins-Regular.ttf") format('truetype');
    font-size:0;
    font-weight: 0;
}

*
{
    margin:0;
    padding:0;
    transition:0.3ms;
    /* overflow-x:hidden; */
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Poppins';
}

#menu-nav
{
    position:sticky;
    top:0;
    z-index: 1;
    display:flex;
    flex-direction:column;
    height:15vh;
}

.icon
{
    background-color: black;
    display:flex;
    justify-content: center;
    height: 60%;
    padding-left: 1vw;
}

.icon img
{
    max-height: 50%;
    align-self: center;
}

.icon h1
{
    color: white;
    align-self: center;
    font-size:2vh;
}


.nav-titles
{
    display:flex;
    height:40%;
    background-color: #14141c;
    justify-content: center;
    gap:4vw;
    align-items:center;
}

.nav-titles a
{
    text-decoration: none;
    color:white;
    font-size: 2.5vh;
    transition: 0.5ms;
    
    text-underline-offset: 7px;
}

.nav-titles a:hover
{
    text-decoration: underline;
}

#main-information
{
    /* Set Background Image */
    

    
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    /*Set the opacity of the background image*/
    opacity: 90%;
    /*Set the opacity of the background image*/
    height:85vh;
    /*Set the font color of all texts to white*/
    
    color: white;   
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.main-information-text
{
    
    padding-left: 10vw;
    max-width:40vw;
    max-height:100%;
}

.main-information-text h1
{
    font-size: 10vh;
}

.main-information-text p
{
    font-size: 2.5vh;
}

.main-information-text a
{
    border: 3px solid #242424;
    background-color: transparent;
    text-decoration: none;
    height: 7vh;
    width: 10vw;
    color: white;
    font-size: 1.5vw;
    
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

.main-information-text a:hover
{
    cursor: pointer;
    background-color:#242424;
}

#main-content
{
    padding-top:10vh;
    color:white;
    background-color: #191919;

}

#about
{
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns: 1fr 4fr auto 4fr 1fr;
    grid-template-rows: 20vh 50vh 50vh;
}

.history-text
{
    grid-area: 2 / 2 / 3 / 3;
}

.about-title
{
    grid-area: 1 / 3 / 2 / 4;
    text-align: center;
    font-size:7vh;
}   

.history-text h1
{
    font-size:5vh;
}

.history-img
{
    grid-area: 2 / 4 / 3 / 5; 
    max-width:100%;
    height:auto;
}

.structure-text
{
    grid-area: 3 / 4 / 4 / 5;
}

.structure-text h1
{
    font-size:5vh;
}

.structure-img
{
    grid-area: 3 / 2 / 4 / 3;
    max-width:100%;
    height:auto;
}

@keyframes slide-next
{
    from{
        translate: -100vw 0;
    }
    to{
        translate:0 0;
    }

}

@keyframes slide-prev
{
    from{
        translate: 100vw 0;
    }
    to{
        translate:0 0;
    }

}



#planets
{
    display:none;
    flex-direction: column;
}

#planet-brief
{
    transition-duration: 1s;
    transition-timing-function: ease-out;
    display: flex;
    gap:2vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#planets button
{
    animation: none;
    font-size:5vw;
    color:grey;
    background-color: transparent;
    border: none;
}

#planets button:hover
{
    cursor: pointer;
}

.previous
{
    align-self:center;
}

.next
{
    align-self:center;
}

#planet-information
{

    display:flex;
    flex-direction: column;
    text-wrap: nowrap;
}

.planet-selector
{
    display:flex;
    justify-content:center;
    gap:3vw;
    padding-bottom: 5vh;
    padding-top: 5vh;

}

.planet-selector h3
{
    border: 2px solid #333333;
    color: #333333;
    border-radius: 5px;
}

.planet-selector h3:hover
{
    cursor:pointer;
}

.planet-name
{
    font-size:5vw;
}

.slidenxt-anim
{
    animation-duration:1s;
    animation-name: slide-next;
}

.slideprev-anim
{
    animation-duration:1s;
    animation-name: slide-prev;
}

.planet-img
{

    max-height:70vh;
    width:auto;
}

#games
{
    display:flex;
    flex-direction: column;
}

#planet-creator
{
    display:none;
    flex-direction: column;
    gap:0;
}

.create-planet
{
    display:flex;
    justify-content: center;
    align-self: center;
    height:30vh;
    overflow: hidden;
}

.create-planet button
{
    font-size: 5vw;
    color: grey;
    background-color: transparent;
    border: none;
}

.create-planet button:hover
{
    cursor:pointer;
}


.create-planet .planet-part {
    height: 90vh;
    position: absolute;
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
}


.create-planet.top .planet-part {
    background-position: top;
}

.create-planet.middle .planet-part {
    background-position: center;
}

.create-planet.bottom .planet-part {
    background-position: bottom;
}


#asteroid-shooter
{
    display:flex;
    flex-direction: column;
    gap:3vh;

    
    /* 
    Make it full screen
    position:absolute;
    width:100%;
    height:100%;
    background-color:#191919; */
}

.asteroid-text
{
    display:flex;
    justify-content: center;
    gap:15vw;
    font-size: 1vw;
    float:left;
}

.asteroid-text h2{
    position:absolute;
    vertical-align: middle;
    text-align: center;
    line-height: 2vh;
}

.asteroid-game
{
    user-select: none;
    display:flex;
    height:80vh;
    align-items: center;
    flex-direction: column;
    gap:2vh;
}

.asteroid-game h1
{
    font-size:2vw;
}


.asteroid-game-background
{
    height:60vh;
    width:80vw;
    align-items: center;
    background-image: url("image/game-background.jpg");
    background-repeat: no-repeat;
}

.game-timer
{
    float:right;
}

.start-game-button
{
    text-align: center;
    vertical-align: middle;
    position: absolute;
    /*Same width and height as background div*/
    width:80vw;
    height:60vh;

    /*Set the line height to the same as the background div height to center the text*/
    line-height: 60vh;

    font-size:2vw;
    color:aqua;
}

.start-game-button h2:hover
{
    cursor: pointer;
}

.asteroid
{
    user-select: none;
    display:none;
    max-width:5vw;
    height:auto;
}

@media only screen and (max-width: 800px) 
{
    .nav-titles
    {
        display:none;
    }

    .icon
    {
        height:100%;
    }
}





